name: Deploy

on:
    push:
        tags:
            - 'v*'

# 任务
jobs:
    build:
        runs-on: windows-2022
        steps:
            -   name: Checkout
                uses: actions/checkout@v3
                with:
                    persist-credentials: false

            -   name: Test
                run: echo ${{ github.ref_name }}

            -   name: Install
                uses: actions/setup-dotnet@v1

            -   name: Add msbuild to PATH
                uses: microsoft/setup-msbuild@v1.1

            -   run: nuget install Microsoft.CodeCoverage -Version 16.11.0

            -   uses: ruby/setup-ruby@v1
                with:
                    ruby-version: '3.2' # Not needed with a .ruby-version file
                    bundler-cache: false
            -   run: gem install github_changelog_generator

            -   name: Build
                run: msbuild -p:Configuration=Release -p:Platform=x64 Interface/Interface.vcxproj
            
            -   name: codecoverageXML
                run: C:\Users\runneradmin\.nuget\packages\microsoft.codecoverage\16.11.0\build\netstandard1.0\CodeCoverage\CodeCoverage.exe analyze /output:DynamicCodeCoverage.coveragexml DynamicCodeCoverage.coverage
              
            -   name: ChangLog
                run: github_changelog_generator -u HuaWangDongShi -p LegendEngine --token  ${{ secrets.GITHUB_TOKEN }} --since-tag ${{ github.ref_name }} --output CHANGELOG.md        
           
            -   name: Upload coverage reports to Codecov
                uses: codecov/codecov-action@v3
                env:
                    CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
            
            -   name: Create Release and Upload Release Asset
                uses: softprops/action-gh-release@v1
                if: startsWith(github.ref , 'refs/tags/')
                with:
                    tag_name: ${{ github.ref_name }}
                    name: LegendEngine Release ${{ github.ref_name }}
                    body_path: CHANGELOG.md
                    draft: false
                    prerelease: false
                    files: |
                        Interface/x64/Release/Interface.exe
                        LICENSE.txt
                        AUTHORS.md
                        README.md
